<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybestpractice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--    android:name=".MyApplication"-->
    <application
        android:name=".kotlin.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".kotlin.mycoroutineretrofit.GFActivity"></activity>
        <activity android:name=".kotlin.mycoroutineretrofit.base.BaseVmActivity" />
        <activity android:name=".kotlin.sunnyweather.ui.WeatherActivity" />
        <activity android:name=".kotlin.sunnyweather.MvvmActivity" />
        <activity android:name=".kotlin.rxjava3.Rxjava3Activity" />
        <activity android:name=".customview.ScrollerActivity" />
        <activity android:name=".mvvm.MVVMActivity" />
        <activity android:name=".optimize.ImageHookActivity" />
        <activity android:name=".optimize.OptimizeActivity" />
        <activity android:name=".customview.FlowlayoutActivity" />
        <activity android:name=".customview.CircleViewActivity" />
        <activity android:name=".customview.SquareImgActivity" />
        <activity android:name=".customview.CustomViewActivity" />
        <activity android:name=".aop.AopDemoActivity" />
        <activity android:name=".service.TestSertviceActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".aop.OtherActivity" />
        <activity android:name=".aop.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".kotlin.Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>