<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybestpractice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".customview.FlowlayoutActivity"></activity>
        <activity android:name=".customview.CircleViewActivity" />
        <activity android:name=".customview.SquareImgActivity" />
        <activity android:name=".customview.CustomViewActivity" />
        <activity android:name=".aop.AopDemoActivity" />
        <activity android:name=".service.TestSertviceActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".aop.OtherActivity" />
        <activity android:name=".aop.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>